body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: lightskyblue;
    margin: 0 auto;
    height: 50px;
    columns: 2;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    text-align: left;
  }

  header h4 {
    padding: 10px;
    margin: 0;
    text-align: right;
  }

  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  

  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }

  
  #loginForm {
    width: 700px;
    margin: 0 auto;
    background-color: lightslategray;
    
  }

  #gameForm {
    width: 700px;
    margin: 0 auto;
    background-color:lavender;
    
  }

  #mainGame {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-color: lightblue;
    
  }


  [data-view="cardShow"] {
    width: 100px;
    height: 140px;
    border: solid 1px gray;
    border-radius: 5px;
    float: left;
    margin: 10px;
    cursor: pointer;
    background: lightpink;
    background-size: 64px 128px;
    text-align: center;
  }

  [data-view="card"] {
    transform: rotateY(180deg);
    width: 100px;
    height: 140px;
    border: solid 1px gray;
    border-radius: 5px;
    float: left;
    margin: 10px;
    cursor: pointer;
    background: lightpink;
    background-size: 64px 128px;
    text-align: center;
  }
  
  .flipped {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .reverse {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
    
  }

  [data-look="done"] {
    display:none;
  }
  
  .correct {
    opacity: .5;
    cursor: default;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }

  #seconds {
    font-size: 1.5em;}
  #minutes {
    font-size: 1.5em;
  }
  #colon {
    font-size: 1.5em;
  }